<div class="small">
  <button mat-icon-button [disabled]="zoomValue === minZoom" (click)="changeZoom(-0.1)">
    <mat-icon>remove</mat-icon>
  </button>
</div>
<button
  id="btn-reset-zoom"
  class="zoom-level"
  mat-button
  matTooltip="Réinitialiser le niveau de zoom"
  [matTooltipDisabled]="zoomValue === 1"
  (click)="resetZoom()">
  {{ getZoomValueString() }}
</button>
<div class="small">
  <button mat-icon-button [disabled]="zoomValue === maxZoom" (click)="changeZoom(0.1)">
    <mat-icon>add</mat-icon>
  </button>
</div>
