@use "../theme";
@use "@angular/material" as mat;

@include mat.autocomplete-base(theme.$light-theme);
@include mat.autocomplete-density(theme.$light-theme);
@include mat.autocomplete-typography(theme.$light-theme);
@include mat.autocomplete-overrides();

.dark,
.light .dark {
  @include mat.autocomplete-color(theme.$dark-theme);
}

.light,
.dark .light {
  @include mat.autocomplete-color(theme.$light-theme);
}

.mat-mdc-autocomplete-panel {
  position: relative !important;
}
