@use "../theme";
@use "@angular/material" as mat;

@include mat.card-base(theme.$light-theme);
@include mat.card-density(theme.$light-theme);
@include mat.card-typography(theme.$light-theme);
@include mat.card-overrides();

.dark,
.light .dark {
  @include mat.card-color(theme.$dark-theme);
}

.light,
.dark .light {
  @include mat.card-color(theme.$light-theme);
}
