@use "../theme";
@use "../../colors.scss";
@use "@angular/material" as mat;

@include mat.chips-base(theme.$light-theme);
@include mat.chips-density(theme.$light-theme);
@include mat.chips-typography(theme.$light-theme);

.dark,
.light .dark {
  @include mat.chips-color(theme.$dark-theme);

  .mat-mdc-form-field .mat-mdc-chip-grid .mat-mdc-standard-chip {
    --mdc-chip-elevated-container-color: #{colors.$cool-gray-9};
  }
}

.light,
.dark .light {
  @include mat.chips-color(theme.$light-theme);
}

.mdc-evolution-chip-set__chips {
  padding-right: 8px;
}

input.mat-mdc-chip-input {
  margin-left: 0 !important;
}
