@use "../../vars.scss";
@use "../../colors.scss";
@use "../theme";
@use "@angular/material" as mat;

@include mat.dialog-base(theme.$light-theme);
@include mat.dialog-density(theme.$light-theme);
@include mat.dialog-typography(theme.$light-theme);
.dark,
.light .dark {
  @include mat.dialog-color(theme.$dark-theme);
}

.light,
.dark .light {
  @include mat.dialog-color(theme.$light-theme);
}

:root {
  --mat-dialog-subhead-tracking: 0;
  --mat-dialog-subhead-font: #{vars.$font-sans-serif};
  --mat-dialog-subhead-size: 20px;
  --mat-dialog-subhead-weight: 800;

  --mat-dialog-supporting-text-tracking: 0;
  --mat-dialog-supporting-text-font: #{vars.$font-sans-serif};
}

.mdc-dialog {
  --mat-dialog-container-shape: 12px !important;

  .mdc-dialog__title + .mdc-dialog__content,
  .mdc-dialog__header + .mdc-dialog__content {
    padding-top: 7px;
  }

  .mat-mdc-dialog-content {
    padding: 24px;
  }

  .mat-mdc-dialog-actions {
    padding: 24px;
  }
}
