@use "../theme";
@use "@angular/material" as mat;

@include mat.slide-toggle-base(theme.$light-theme);
@include mat.slide-toggle-density(theme.$light-theme);
@include mat.slide-toggle-typography(theme.$light-theme);

.dark,
.light .dark {
  @include mat.slide-toggle-color(theme.$dark-theme);
}

.light,
.dark .light {
  @include mat.slide-toggle-color(theme.$light-theme);
}

button.mdc-switch {
  --mat-slide-toggle-track-width: 48px;
  --mat-slide-toggle-track-height: 24px;
  --mat-slide-toggle-track-shape: 12px;
  --mat-slide-toggle-unselected-handle-size: 14px !important;
  --mat-slide-toggle-selected-handle-size: 14px !important;
  --mat-slide-toggle-pressed-handle-size: 14px !important;
  --mat-slide-toggle-with-icon-handle-size: 14px !important;

  --mat-slide-toggle-selected-icon-color: none;

  --mat-slide-toggle-handle-width: 14px;
  --mat-slide-toggle-handle-shape: 8px;
  --mat-slide-toggle-handle-elevation-shadow: none;
  --mat-slide-toggle-handle-height: 14px;
  --mat-slide-toggle-handle-surface-color: none;
  --mat-slide-toggle-selected-handle-color: white;
  --mat-slide-toggle-selected-hover-handle-color: white;
  --mat-slide-toggle-selected-pressed-handle-color: white;
  --mat-slide-toggle-selected-focus-handle-color: white;

  .mdc-switch__shadow,
  .mdc-switch__icons {
    display: none;
  }

  .mdc-switch__handle-track {
    transform: translateX(4px);
  }

  &.mdc-switch--selected {
    + .mdc-label {
      --mat-slide-toggle-label-text-weight: 500;
    }

    .mdc-switch__handle-track {
      transform: translateX(calc(100% - 4px));
    }
  }

  + .mdc-label {
    padding-left: 8px;
  }
}
