@use "../theme";
@use "../../colors";
@use "@angular/material" as mat;

@include mat.snack-bar-base(theme.$light-theme);
@include mat.snack-bar-density(theme.$light-theme);
@include mat.snack-bar-typography(theme.$light-theme);

.dark,
.light .dark {
  @include mat.snack-bar-color(theme.$dark-theme);
}

.light,
.dark .light {
  @include mat.snack-bar-color(theme.$light-theme);
}

.mat-mdc-snack-bar-container.mdl {
  --mat-snackbar-container-color: #{colors.$cool-gray-11};
  --mat-snackbar-container-shape: 8px;
  --mat-snackbar-supporting-text-line-height: 22px;
  --mat-snackbar-supporting-text-weight: 500;
  --mat-snackbar-supporting-text-color: white;
  --mat-snack-bar-button-color: white;
  --progress-color: #{colors.$carbon};

  background: var(--mat-snackbar-container-color);
  border-radius: var(--mat-snackbar-container-shape);

  &[class^="duration"],
  &[class*=" duration"] {
    .mdc-snackbar__surface {
      background: linear-gradient(90deg, var(--progress-color) 0%, var(--progress-color) 100%)
        no-repeat;
      background-size: 0%;
      animation: autoexit 5s ease-out;
      animation-fill-mode: forwards;

      @keyframes autoexit {
        to {
          background-size: 100%;
        }
      }
    }

    &.duration-2000 {
      .mdc-snackbar__surface {
        animation-duration: 2s;
      }
    }
  }

  &.info {
    /* Syntaxe spéciale car utilisation d'une variable CSS */
    --mat-snackbar-container-color: #{colors.$primary};
    --progress-color: #{colors.$strong-blue};
  }

  .mat-mdc-snack-bar-label.mdc-snackbar__label {
    overflow-y: auto;
    max-height: 300px;
  }

  .mdc-snackbar__surface {
    min-height: 48px;
  }

  .mat-mdc-simple-snack-bar {
    // margin: 3px 0;
    align-items: center;
  }

  &.with-close-button {
    .mat-mdc-snack-bar-actions.mdc-snackbar__actions {
      // align-self: start;
      // margin-top: 6px;

      .mdc-button {
        padding: 0 !important;
        min-width: 36px;
      }
    }
  }

  &.with-checked-icon {
    .mat-mdc-snack-bar-label.mdc-snackbar__label::before {
      @extend .custom-snack-bar-icon;
      content: "\e876";
    }
  }

  &.with-info-icon {
    .mat-mdc-snack-bar-label.mdc-snackbar__label::before {
      @extend .custom-snack-bar-icon;
      content: "\e000";
    }
  }

  .custom-snack-bar-icon {
    display: inline;
    font-family: "Material Icons";
    margin-right: 8px;
    font-size: 20px;
    vertical-align: top;
  }
}
