@use "../theme";
@use "../../colors.scss";
@use "@angular/material" as mat;

@include mat.tabs-base(theme.$light-theme);
@include mat.tabs-density(theme.$light-theme);
@include mat.tabs-typography(theme.$light-theme);

.dark,
.light .dark {
  @include mat.tabs-color(theme.$dark-theme);
}

.light,
.dark .light {
  @include mat.tabs-color(theme.$light-theme);

  --mat-tab-pagination-icon-color: #{colors.$blue};
}

.mdc-tab-indicator .mdc-tab-indicator__content--underline {
  border-top-width: 4px !important;
  border-radius: 40px;
}

.mat-mdc-tab-nav-bar {
  --mat-tab-divider-height: 0;
  --mat-tab-active-indicator-shape: 4px;
}

.mat-mdc-tab-link.mdc-tab {
  border-radius: 4px 4px 0 0;

  .mdc-tab__ripple::before,
  .mat-ripple.mat-mdc-tab-ripple {
    border-radius: 4px 4px 0 0;
  }
}
