@use "../theme";
@use "../../colors.scss";
@use "@angular/material" as mat;

@include mat.tabs-base(theme.$light-theme);
@include mat.tabs-density(theme.$light-theme);
@include mat.tabs-typography(theme.$light-theme);

.dark,
.light .dark {
  @include mat.tabs-color(theme.$dark-theme);
}

.light,
.dark .light {
  @include mat.tabs-color(theme.$light-theme);

  --mat-tab-header-pagination-icon-color: #{colors.$blue};
}

.mdc-tab-indicator .mdc-tab-indicator__content--underline {
  border-top-width: 4px !important;
  border-radius: 40px;
}

.mat-mdc-tab-nav-bar {
  --mat-tab-header-divider-height: 0;
}
