@use "mdl-angular/scss" as mdl;

@import "mdl-angular/scss/fonts";
@import "mdl-angular/scss/material/core";
@import "mdl-angular/scss/material/components/autocomplete";
@import "mdl-angular/scss/material/components/badge";
@import "mdl-angular/scss/material/components/button";
@import "mdl-angular/scss/material/components/card";
@import "mdl-angular/scss/material/components/chips";
@import "mdl-angular/scss/material/components/checkbox";
@import "mdl-angular/scss/material/components/dialog";
@import "mdl-angular/scss/material/components/expansion";
@import "mdl-angular/scss/material/components/table";
@import "mdl-angular/scss/material/components/datepicker";
@import "mdl-angular/scss/material/components/divider";
@import "mdl-angular/scss/material/components/input";
@import "mdl-angular/scss/material/components/list";
@import "mdl-angular/scss/material/components/menu";
@import "mdl-angular/scss/material/components/option";
@import "mdl-angular/scss/material/components/paginator";
@import "mdl-angular/scss/material/components/progress-bar";
@import "mdl-angular/scss/material/components/progress-spinner";
@import "mdl-angular/scss/material/components/radio";
@import "mdl-angular/scss/material/components/select";
@import "mdl-angular/scss/material/components/slide-toggle";
@import "mdl-angular/scss/material/components/slider";
@import "mdl-angular/scss/material/components/sidenav";
@import "mdl-angular/scss/material/components/sort";
@import "mdl-angular/scss/material/components/tabs";
@import "mdl-angular/scss/material/components/toolbar";
@import "mdl-angular/scss/material/components/tooltip";
@import "mdl-angular/scss/material/components/tree";
@import "mdl-angular/scss/material/components/snack-bar";
@import "mdl-angular/scss/material/components/form-field";
@import "mdl-angular/scss/material/components/stepper";
@import "mdl-angular/scss/colored-badge";
@import "mdl-angular/scss/highlight";
@import "mdl-angular/scss/panels";

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::before,
::after {
  border-style: unset;
}

html,
body {
  height: auto;
}

body {
  margin: 0;
  font-family: mdl.$font-sans-serif, "Helvetica Neue", sans-serif;
}

router-outlet {
  display: none;
}

// @use '../../bottom-sheet/bottom-sheet-theme';
// @use '../../grid-list/grid-list-theme';

mdl-table2.alternate-lines {
  tr:nth-child(odd) {
    td {
      background-color: #ff000020;
      border-top: 2px solid #00ff0020;
    }
  }
}

fieldset {
  padding: 0.5rem 1rem 1rem 1rem;
  border: var(--mat-divider-width) solid var(--mat-divider-color);
  border-radius: 0.5rem;

  > legend {
    font-weight: 500;
    padding-right: 0.5rem;
    padding-left: 0.25rem;
    margin-left: -0.25rem;
  }
}
