:host {
  display: block;
}

.hamburger-menu {
  width: 20px;
  height: 20px;
  stroke: currentColor;
  transition: all 0.2s;

  path {
    fill: none;
    color: inherit;
    stroke: currentColor;
    stroke-linecap: round;
    stroke-linejoin: round;
    transition: 0.2s;
    transition-property: d;
  }

  &.open {
    .top-bar {
      d: path("M1,0 L1,10");
    }
    .middle-bar {
      d: path("M5,10 L5,0");
    }
    .bottom-bar {
      d: path("M9,0 L9,10");
    }
  }
}

.mat-mdc-card {
  --mat-card-elevated-container-shape: 8px;
  --mat-card-elevated-container-elevation: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
    0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);

  .mat-mdc-card-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

.mat-toolbar-row {
  gap: 1rem;
  overflow-y: auto;
}

.mat-divider {
  height: 24px;
}

.logos {
  display: flex;
  flex-shrink: 0;
  gap: 1rem;
}

.sncf-logo {
  display: flex;

  > img {
    width: 48px;
  }

  &.simple-menu > img {
    width: 70px;
    margin-right: 1rem;
  }
}

.menu-button {
  margin-left: -8px;

  img {
    height: 25px;
  }

  i {
    font-size: 20px;
    margin-bottom: -4px;
    transition: transform 0.3s ease-out;

    &.opened {
      transform: scaleY(-1);
    }
  }
}

.right-buttons {
  margin-left: auto;
  display: flex;
  gap: 16px;
  align-items: center;

  #searchBar {
    flex: 1 1 auto;
    min-width: 160px;
    max-width: 400px;
  }
}

@media (max-width: 959.98px) {
  .menu-button img {
    height: 18px;
  }

  .sncf-logo > img {
    width: 40px;
  }

  // row-gap: 0.2rem;

  .title {
    font-size: 1rem;
  }

  #searchBar {
    flex: 1;
    max-width: unset;
  }
}
