<mat-toolbar *ngIf="breakpoints$ | async as brk">
  <mat-toolbar-row>
    <div class="logos">
      <div class="sncf-logo" [class.simple-menu]="simpleMenu">
        <img alt="SNCF" src="assets/logo-sncf.svg" />
      </div>
      <button mat-button class="mdl menu-button" (click)="menuOpen = !menuOpen">
        <mat-icon
          style="transition: transform 175ms ease-in-out"
          [ngStyle]="{ transform: menuOpen ? 'rotate(90deg)' : undefined }">
          menu
        </mat-icon>
        MDL lib demo
      </button>
    </div>
    <div
      *ngIf="!brk.breakpoints[breakpoints.XSmall]"
      class="small self-center"
      appDarkMode
      #dark="darkMode"
      [class.light]="!dark.enabledSignal()">
      <mat-form-field>
        <mat-icon matIconPrefix>search</mat-icon>
        <input type="text" placeholder="Rechercher..." matInput />
      </mat-form-field>
    </div>
    <mat-slide-toggle
      *ngIf="!brk.breakpoints[breakpoints.XSmall]"
      color="primary"
      class="self-center"
      [(ngModel)]="simpleMenu">
      Menu simple
    </mat-slide-toggle>
    <mat-slide-toggle
      *ngIf="!brk.breakpoints[breakpoints.XSmall]"
      color="primary"
      class="ms-auto"
      [(ngModel)]="fixedHeight">
      Hauteur de page fixe
    </mat-slide-toggle>
    <button
      *ngIf="!brk.breakpoints[breakpoints.XSmall]"
      appDarkMode
      #dark="darkMode"
      mat-icon-button
      [matTooltip]="dark.enabled ? 'Mode clair' : 'Mode sombre'"
      (click)="dark.enabled = !dark.enabled">
      <mat-icon [innerText]="dark.enabled ? 'light_mode' : 'dark_mode'"></mat-icon>
    </button>
  </mat-toolbar-row>
  <mat-toolbar-row *ngIf="brk.breakpoints[breakpoints.XSmall]">
    <mat-slide-toggle color="primary" class="self-center" [(ngModel)]="simpleMenu">
      Menu simple
    </mat-slide-toggle>
    <mat-slide-toggle color="primary" class="ms-auto" [(ngModel)]="fixedHeight">
      Hauteur de page fixe
    </mat-slide-toggle>
    <button
      appDarkMode
      #dark="darkMode"
      mat-icon-button
      [matTooltip]="dark.enabled ? 'Mode clair' : 'Mode sombre'"
      (click)="dark.enabled = !dark.enabled">
      <mat-icon [innerText]="dark.enabled ? 'light_mode' : 'dark_mode'"></mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
