:host {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.mat-mdc-tab-nav-bar {
  margin: 8px 16px 0;
}

.mat-mdc-tab-nav-panel {
  flex-grow: 1;
  min-height: 0;
  overflow-y: auto;
  // padding-bottom: 1.5rem;

  ::ng-deep {
    router-outlet + * {
      height: 100%;
      padding: 1.5rem 2.5rem 2.5rem;
    }
  }
}

.mat-mdc-tab-group {
  height: 100%;
}

::ng-deep {
  .mat-mdc-tab-body-wrapper {
    flex-grow: 1;
  }

  .mat-mdc-tab-body-content {
    gap: 1.5rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    overflow: unset;
  }
}
