@use "colors";
@use "sass:color";

@mixin badge-color($name, $background) {
  &.#{$name} {
    .light &,
    .dark .light & {
      background: mix($background, #fff, 10%);
    }

    .dark &,
    .light .dark & {
      background: mix($background, #333, 20%);
    }

    &.bullet:before {
      background: $background;
    }

    &.with-border {
      border: 1px solid mix($background, #fff, 30%);
    }
  }
}

/* Badge */
.mdl-table-badge {
  display: flex;
  align-self: center;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2px 8px;
  gap: 8px;
  min-height: 19px;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 500;
  width: min-content;

  border: 1px solid transparent;

  .light &,
  .dark .light & {
    background: colors.$cool-gray-1;
  }

  .dark &,
  .light .dark & {
    background: colors.$cool-gray-11;
  }

  &.bullet:before {
    content: "";
    width: 8px;
    height: 8px;
    aspect-ratio: 1;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    background: colors.$blue;
  }

  &.with-border {
    border: 1px solid colors.$cool-gray-5;
  }

  @include badge-color("blue", colors.$blue);
  @include badge-color("cyan", colors.$cyan);
  @include badge-color("green", colors.$green);
  @include badge-color("teal", colors.$teal);
  @include badge-color("yellow", colors.$yellow);
  @include badge-color("orange", colors.$orange);
  @include badge-color("red", colors.$red);
  @include badge-color("pink", colors.$pink);
  @include badge-color("purple", colors.$purple);
}
