@import "../../scss/responsive";

:host {
  display: block;
  height: 100%;
  padding: 0 !important;

  .mat-drawer-container {
    height: 100%;

    .mat-drawer-content {
      padding: 1rem;
      padding-top: 0.5rem;

      @include big-screen() {
        padding: 2.5rem;
        padding-top: 1.5rem;
      }
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    .mat-drawer-side {
      margin: 1.5rem 1rem 2.5rem 0;
      border-radius: 0.5rem;
      border: 0px solid var(--mat-sidenav-container-divider-color);
    }
  }
}
