@if ( header !== false && (title || searchBar || (actionButtons !== false && (columnsEditor ||
fullscreenButton))) ) {
<div class="header">
  <div class="left-side">
    @if (title) {
    <div class="title">{{ title }}</div>
    } @if (searchBar) {
    <mdl-table-searchbar
      class="searchbar"
      #search
      [filter]="filter"
      (filterChange)="filterChanged($event)"></mdl-table-searchbar>
    }
  </div>
  @if (actionButtons !== false && (columnsEditor || fullscreenButton)) {
  <div class="action-buttons">
    <!-- <button
        mat-icon-button
        [matTooltip]="search.visible ? 'Fermer la recherche' : 'Ouvrir la recherche'"
        (click)="toggleSearch()">
        <mat-icon>{{ search.visible ? "search_off" : "search" }}</mat-icon>
      </button> -->
    <!-- <button mat-icon-button matTooltip="Filtres">
      <mat-icon>filter_list</mat-icon>
    </button> -->
    @if (columnsEditor) {
    <button
      mat-icon-button
      matTooltip="Colonnes"
      cdkOverlayOrigin
      #trigger="cdkOverlayOrigin"
      (click)="columnsOverlayOpen = !columnsOverlayOpen">
      <mat-icon>view_column</mat-icon>
      <ng-template
        cdkConnectedOverlay
        cdkConnectedOverlayHasBackdrop
        cdkConnectedOverlayDisposeOnNavigation
        cdkConnectedOverlayBackdropClass="cdk-overlay-transparent-backdrop"
        [cdkConnectedOverlayOrigin]="trigger"
        [cdkConnectedOverlayOpen]="columnsOverlayOpen"
        (detach)="columnsOverlayOpen = false"
        (backdropClick)="columnsOverlayOpen = false">
        <mdl-table-columns
          cdkTrapFocus
          cdkTrapFocusAutoCapture
          [matTable]="table"
          [columns]="displayedColumns"
          (submitted)="onColumnsUpdated($event)"
          (canceled)="columnsOverlayOpen = false"
          [@transformMenu]="'enter'">
        </mdl-table-columns>
      </ng-template>
    </button>
    } @if (fullscreenButton) {
    <button
      mat-icon-button
      [matTooltip]="mfb.fullscreen ? 'Sortir du plein écran' : 'Afficher en plein écran'"
      #mfb="mdlFullscreenButton"
      [mdlFullscreenButton]="el">
      <mat-icon>fullscreen</mat-icon>
    </button>
    }
  </div>
  }
</div>
}

<div class="table-container">
  @if (loading) {
  <div class="loading-shade">
    <mdl-spinner></mdl-spinner>
  </div>
  }
  <div class="table-scroll" #scroller>
    <table mat-table [dataSource]="dataSource" [trackBy]="trackByFn" multiTemplateDataRows>
      <!-- Checkbox column -->
      @if (selection && selectionModel) {
      <ng-container matColumnDef="selection">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox
            color="primary"
            (change)="$event ? toggleAllRows() : null"
            [checked]="selectionModel.hasValue() && isAllSelected()"
            [disabled]="hasNoData()"
            [indeterminate]="selectionModel.hasValue() && !isAllSelected()"
            [matTooltip]="isAllSelected() ? 'Tout désélectionner' : 'Tout sélectionner'">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox
            color="primary"
            (click)="$event.stopPropagation()"
            (change)="$event ? selectionModel.toggle(row) : null"
            [checked]="selectionModel.isSelected(row)">
          </mat-checkbox>
        </td>
      </ng-container>
      }

      <!-- User-defined columns -->
      <ng-content></ng-content>

      <!-- Column Detail -->
      <ng-container matColumnDef="expand">
        <th mat-header-cell *matHeaderCellDef aria-label="row actions">Détail</th>
        <td mat-cell *matCellDef="let row">
          @if (detailsRow && (allowExpandFn ? allowExpandFn(row) : true)) {
          <button
            mat-icon-button
            aria-label="expand row"
            (click)="expandRow(row); $event.stopPropagation()">
            @if (expandedRow !== row) {
            <mat-icon>keyboard_arrow_down</mat-icon>
            } @if (expandedRow === row) {
            <mat-icon>keyboard_arrow_up</mat-icon>
            }
          </button>
          }
        </td>
      </ng-container>
      <!-- expandedRow = expandedRow === row ? null : row; -->
      @if (detailsRow) {
      <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let row" [attr.colspan]="displayedColumns.length">
          <div
            style="min-height: 0"
            [ngStyle]="{ height: expandedRow === row ? 'max-content' : '0' }">
            <ng-container *ngTemplateOutlet="detailsRow; context: { $implicit: row }">
            </ng-container>
          </div>
        </td>
      </ng-container>
      }

      <tr
        mat-header-row
        *matHeaderRowDef="displayedColumns | withSelection : !!selection; sticky: true"></tr>
      <tr
        class="normal-row"
        [ngClass]="rowClass(row)"
        mat-row
        *matRowDef="let row; columns: displayedColumns | withSelection : !!selection"></tr>
      @if (detailsRow) {
      <tr
        mat-row
        *matRowDef="let row; columns: ['expandedDetail']"
        class="detail-row"
        [ngClass]="rowClass(row)"></tr>
      }
    </table>
  </div>
</div>
@if (pagination === 'frontend' || pagination === 'backend') {
<footer>
  <mat-divider></mat-divider>
  <ng-container *ngTemplateOutlet="paginatorAddons"> </ng-container>
  <mat-paginator
    [disabled]="loading === true"
    [length]="totalLength"
    [pageSize]="pageSize"
    [pageSizeOptions]="pageSizes"
    showFirstLastButtons>
  </mat-paginator>
</footer>
}
