@use "sass:color";
@use "@angular/material" as mat;
@use "../scss/colors";
@use "../scss/vars";

$blue-veil: color.change(colors.$primary, $alpha: 0.0625);

:host {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 0;
  background-color: var(--mat-table-background-color);
}

.header {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  padding: 0.5rem 0;
  gap: 0.5rem;
  margin-right: 0.5rem;

  > .left-side {
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    flex-grow: 1;
    gap: 1rem;

    &:last-child {
      margin-right: 0.5rem;
    }

    > :first-child {
      padding-left: 1rem;
    }

    > .title {
      font-size: 20px;
      font-weight: 500;
    }
  }

  > .action-buttons {
    @include mat.icon-button-density(-2);
  }
}

.loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 101;
  display: flex;
  align-items: center;
  justify-content: center;
}

.table-container {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 0;

  .table-scroll {
    overflow: auto;
    margin: 0.5rem 0 0 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    flex-grow: 1;
    position: relative;

    ::ng-deep {
      .mat-mdc-no-data-row {
        position: absolute;
        width: 100%;
        height: calc(100% - 58px - 8px);
        display: flex;

        > * {
          margin: auto;
        }
      }
    }
  }

  /* To allow ripple effect overflow */
  .mat-column-selection {
    overflow: initial;
    padding: 0 0 0 0.5rem;
    width: 0;
  }
}

.mat-mdc-paginator {
  border-radius: 0 0 0.5rem 0.5rem;
}

.detail-row {
  height: unset !important;
}

::ng-deep .mat-mdc-row {
  transition: background-color vars.$animation;
  // border: 1px solid transparent;
  box-sizing: border-box;

  &:hover:not(.expanded) {
    // background-color: rgba(colors.$cool-gray-0, 0.5);
  }

  // Details row theme
  &.detail-row {
    transition: background-color vars.$animation;
    &.expanded {
      max-height: 500px;
      overflow-y: auto;
      border-top-left-radius: 0;
      border-top-right-radius: 0;

      &.selected {
        // border: 1px dashed colors.$primary;
        // border-top: 1px solid transparent;
        // background-color: #f2f9fd;

        .mat-mdc-cell {
          background-color: $blue-veil;
        }
      }
    }
  }

  // Normal row theme
  &:not(.details-row) {
    &.expanded {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    &.selected {
      // border: 1px dashed colors.$primary;

      .mat-mdc-cell {
        background-color: $blue-veil;
      }
    }
  }
}

.mat-mdc-table {
  min-height: 116px;
}
