@use "../scss" as mdl;

:host {
  display: block;
  transition: max-height mdl.$animation;
  font-size: 1rem;

  &.simple {
    font-size: 0.75rem;

    .menu-item-content {
      height: 80px;
      border-left-width: 0;

      a {
        flex-direction: column;
        justify-content: center;
        text-align: center;
      }
    }
  }
}

.menu-item-content {
  display: flex;
  align-items: stretch;
  border: 0;
  background: transparent;
  color: inherit;
  border-left: 6px solid transparent;

  transition: background-color mdl.$animation;
  box-sizing: border-box;
  height: 48px;

  a {
    display: flex;
    flex-grow: 1;
    column-gap: 0.75rem;
    align-items: center;
    text-decoration: none;
    color: inherit;
  }

  &.active {
    background-color: rgba(0, 0, 0, 0.15);
    font-weight: bold;
    border-left-color: currentColor;
  }

  &:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }

  .menu-item-expand-button {
    margin-left: auto;
    align-self: center;

    .expand-icon {
      transition: transform mdl.$animation;

      &.expanded {
        transform: scaleY(-1);
      }
    }
  }
}
