:host {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem 0.5rem;
    align-items: center;
  }
}

.filter-with-checkbox {
  display: flex;
  gap: 0.5rem;
  background: var(--mat-select-panel-background-color);

  align-items: center;
  position: sticky;
  z-index: 1;
  top: 0px;
}
