<div id="trees">
  <mat-form-field class="small" style="min-width: 400px">
    <mat-label>Select avec filtre (small)</mat-label>
    <mat-select multiple [formControl]="seriesControl" placeholder="Sélectionnez...">
      <mdl-select-filter #filter></mdl-select-filter>
      <div *mdlSelectNoResults="filter" class="no-data-label">Aucune série trouvée</div>
      <mat-option
        *ngFor="let serie of series"
        [disabled]="!(serie | seriesFilter : filter.value)"
        [value]="serie.codeSerieMateriel">
        {{ serie.nomTechniqueComplet }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field style="min-width: 400px">
    <mat-label>Tree select (avec filtre)</mat-label>
    <mdl-spinner *ngIf="false" overlay></mdl-spinner>
    <mat-select
      placeholder="Filtrer par série/sous-série"
      multiple
      mdlTreeSelect
      #matSelect="matSelect"
      #tree="mdlTreeSelect">
      <mat-select-trigger>
        {{ matSelect.triggerValue | mdlTreeSelectSummary : tree }}
      </mat-select-trigger>
      <mdl-select-filter #filter2></mdl-select-filter>
      <div *mdlSelectNoResults="filter2" class="no-data-label">Aucune série trouvée</div>
      <mat-option
        *ngFor="let item of series | seriesOptions"
        [disabled]="
          (item | mdlTreeItemHidden) || (item | seriesOptionsFilter : filter2.value) === false
        "
        [value]="item.key">
        <mdl-tree-option [item]="item" [(expanded)]="item.expanded">
          {{ item.value.nomTechniqueComplet }}
        </mdl-tree-option>
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div id="chips-autocomplete">
  <app-chips-demo class="grow"></app-chips-demo>
</div>
<div id="date-pickers">
  <mat-form-field>
    <mat-label>Plage de date</mat-label>
    <mat-date-range-input [rangePicker]="picker2" [min]="minDate" [max]="maxDate">
      <input matInput matStartDate placeholder="Start" [formControl]="dateForm.controls.start" />
      <input matInput matEndDate placeholder="End" [formControl]="dateForm.controls.end" />
    </mat-date-range-input>
    <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
    <mat-date-range-picker #picker2 [startAt]="dateForm.controls.end.value ?? today">
      <mdl-date-picker showPreviousMonthCalendar>
        <div class="flex gap-1 justify-end">
          <button
            *ngIf="dateForm.controls.start.value || dateForm.controls.end.value"
            mat-stroked-button
            color="warn"
            (click)="picker2.close(); dateForm.reset()">
            <mat-icon>delete</mat-icon>
            Supprimer
          </button>
          <button mat-stroked-button color="primary" matDateRangePickerCancel>Annuler</button>
          <button mat-flat-button color="primary" matDateRangePickerApply>Modifier</button>
        </div>
      </mdl-date-picker>
    </mat-date-range-picker>
  </mat-form-field>
  <mat-form-field class="small">
    <mat-label>Sélectionner une date</mat-label>
    <input matInput [matDatepicker]="picker" placeholder="JJ/MM/AAAA" />
    <mat-datepicker #picker>
      <mat-datepicker-actions>
        <button mat-stroked-button color="primary" matDatepickerCancel>Annuler</button>
        <button mat-flat-button color="primary" matDatepickerApply>Modifier</button>
      </mat-datepicker-actions>
    </mat-datepicker>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
  </mat-form-field>
</div>
<div id="login-form">
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input
      matInput
      id="email"
      name="email"
      type="email"
      autocomplete="username"
      [formControl]="form.controls.login" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Mot de passe</mat-label>
    <input
      matInput
      id="current-password"
      name="current-password"
      type="password"
      autocomplete="current-password"
      [formControl]="form.controls.password" />
  </mat-form-field>
  <button style="align-self: flex-end" mat-stroked-button (click)="toggleForm()">
    {{ form.enabled ? "Désactiver" : "Activer" }} formulaire
  </button>
</div>
<div id="code-run-demo">
  <mat-form-field>
    <textarea matInput #code placeholder="return 1 + 1;"></textarea>
  </mat-form-field>
  <button mat-raised-button color="warn" (click)="executeArbitraryCode(code.value)">
    <span>Interpréter code</span>
  </button>
  <mat-form-field>
    <input matInput [value]="codeOutput" readonly />
    <mat-icon matIconSuffix>lock</mat-icon>
  </mat-form-field>
</div>
<mdl-zoom-button></mdl-zoom-button>
