@for (item of items; track item; let first = $first) {
  @if (!first) {
    <i
      class="material-icons breadcrumb-chevron"
      style="margin-left: -12px; margin-right: -12px"
      >chevron_right</i
      >
    }
    <button
      mat-button
      [routerLink]="item.url"
      routerLinkActive
      [routerLinkActiveOptions]="{ exact: true }"
      #rla="routerLinkActive"
      [disabled]="rla.isActive">
      @if (itemTemplate !== null) {
        <ng-template
        [ngTemplateOutlet]="itemTemplate"></ng-template>
      } @else {
        {{ item.value }}
      }
    </button>
  }
