:host {
  display: grid;
  grid-template-rows: auto auto;
  grid-auto-flow: column;
  row-gap: 1em;
  margin-bottom: 1em;
  line-height: 1;

  display: flex;

  .vehicle-column {
    gap: 1em;
    display: flex;
    flex-direction: column;
  }

  .vehicle-image {
    margin-top: auto;
    object-position: left bottom;
    object-fit: none;
    user-select: none;
    max-width: unset;
    // min-height: 40px;
  }

  .vehicle-id {
    padding: 0 0.25em;
    text-align: center;

    .num-ef {
      font-weight: bold;
    }

    .position-coherence {
      font-weight: bold;
      color: red;
    }
  }

  .vehicle-outline {
    margin-top: auto;
    // aspect-ratio: 2.5 / 1;
    border: var(--mat-divider-width, 1px) solid var(--mat-divider-color);
    border-radius: 0.25em;
    // padding: 0.25em 1em;

    &.first {
      border-top-left-radius: 3.5em;
      border-bottom-left-radius: 3.5em;
      &:not(.top) {
        border-bottom-left-radius: 0.5em;
      }
    }

    &.last {
      border-top-right-radius: 3.5em;
      border-bottom-right-radius: 3.5em;

      &:not(.top) {
        border-bottom-right-radius: 0.5em;
      }
    }
  }

  .ext-icons-host {
    position: relative;
    font-size: 2em;

    .driver-icon {
      position: absolute;
      top: 0;
    }

    &.first .driver-icon {
      right: -1.25em;
    }

    &.last .driver-icon {
      left: -1.25em;
    }
  }
}
