<div class="flex flex-col gap-2">
  <span class="page-title">
    <span> Mon train: </span>
    @for (mr of train().composition; track mr.numImmatEf; let first = $first) { @if (!first) {
    <span> | </span>
    }
    <span>{{ mr.numImmatEf }}</span>
    }
  </span>
  <div class="flex gap-4 items-start">
    @for (mr of train().composition; track mr.numImmatEf; let first = $first) {
    <div class="flex gap-2">
      <div class="family-badge">{{ mr.codeSerieMateriel }}</div>
      <div class="family-badge">{{ mr.stf }}| {{ mr.fleetName }}</div>
    </div>
    }
  </div>
</div>
<div class="flex gap-2 small justify-self-center">
  <button mat-icon-button matTooltip="Retourner le train" (click)="reversed = !reversed">
    <mat-icon>swap_horiz</mat-icon>
  </button>
  <mdl-zoom-button [minZoom]="0.5" [(zoomValue)]="scale"></mdl-zoom-button>
</div>
<div class="train" [style.font-size.em]="scale">
  @if (train().mission.previousOrCurrentStation; as previousStation) {
  <div>
    {{ previousStation }}
  </div>
  } @for (consist of train().composition | orientation: reversed; track consist.numImmatEf) {
  <div class="flex flex-col gap-2">
    <div class="family-badge mx-auto">Rame {{ consist.numImmatEf }}</div>
    <app-consist
      [consist]="consist"
      [consistData]="train().states[consist.numImmatEf]"
      [reversed]="reversed"
      [scale]="scale"></app-consist>
  </div>
  } @if (train().mission.nextStation; as nextStation) {
  <div>
    {{ nextStation }}
  </div>
  }
</div>
