<div class="flex gap-4 items-center flex-wrap">
  <div class="page-title">
    Mon train: @if(train().mission; as mission) { ( @if(mission.missionNumber) {<span>{{
      mission.missionNumber
    }}</span
    >} @if (mission.missionNumber && mission.missionCode) { - } @if(mission.missionCode) {<span>{{
      mission.missionCode
    }}</span
    >} ) }
  </div>
  @for (consist of train().composition; track consist.numImmatEf; let first = $first) { @if (!first)
  {
  <i> et </i>
  }
  <div class="flex gap-4 items-center consist-info-host">
    <div class="flex gap-1 flex-col">
      <div class="flex gap-1 items-center">
        <div class="consist-id">{{ consist.numImmatEf }}</div>
        <div class="family-badge" style="font-size: 0.75em">{{ consist.trainSeriesName }}</div>
        <div class="family-badge" style="font-size: 0.75em">{{ consist.fleetManager }}</div>
      </div>
      <div class="flex items-center gap-2 communication-text">
        <mat-icon inline>{{
          train().states[consist.numImmatEf].lastCommunication !== null ? "wifi" : "wifi_off"
        }}</mat-icon>
        @if (train().states[consist.numImmatEf].lastCommunication; as lastCommDate) {
        <div>{{ lastCommDate | dateTimeToRelative : { style: "short" } }}</div>
        }
      </div>
    </div>
    <!-- <div class="flex flex-col gap-1">
      <div class="family-badge" style="font-size: 0.75em">{{ consist.trainSeriesName }}</div>
      <div class="family-badge" style="font-size: 0.75em">
        {{ consist.fleetManager }} | {{ consist.fleetName }}
      </div>
    </div> -->
  </div>
  }

  <!-- Settings -->
  <div class="ms-auto flex flex-wrap gap-2 small items-center">
    <div class="mdl-form-field">
      <label class="mdl-label">Exemple</label>
      <mat-button-toggle-group class="options dark" [formControl]="userSettings.controls.example">
        <mat-button-toggle value="z50000">NAT</mat-button-toggle>
        <mat-button-toggle value="z57000">Régio2N</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <div class="mdl-form-field">
      <label class="mdl-label">Cabine menante</label>
      <mat-button-toggle-group
        class="options dark"
        [formControl]="userSettings.controls.orientation">
        <mat-button-toggle value="left">Gauche</mat-button-toggle>
        <mat-button-toggle value="right">Droite</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <div class="mdl-form-field">
      <label class="mdl-label">Vue</label>
      <mat-button-toggle-group class="options dark" [formControl]="userSettings.controls.view">
        <mat-button-toggle value="side">De côté</mat-button-toggle>
        <mat-button-toggle value="top">Du dessus</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <mat-slide-toggle [formControl]="userSettings.controls.vehicleImages"
      >Images véhicules</mat-slide-toggle
    >
    <div class="mdl-form-field">
      <label class="mdl-label">Échelle</label>
      <mdl-zoom-button
        [minZoom]="0.5"
        [formControl]="userSettings.controls.scale"></mdl-zoom-button>
    </div>
  </div>
</div>

<div class="train" [style.font-size.em]="userSettings.controls.scale.value">
  @if (train().mission; as mission) {
  <met-station
    class="self-stretch"
    [station]="leadingCabinRightSide() ? mission.previousOrCurrentStation : mission.nextStation">
  </met-station>
  } @for (consist of trainCompoInOrder(); track consist.numImmatEf) {
  <div class="consist-host flex flex-col gap-2">
    <div class="family-badge mx-auto">Rame {{ consist.numImmatEf }}</div>
    <met-consist
      [consist]="consist"
      [consistData]="train().states[consist.numImmatEf]"
      [rightToLeft]="consistOrientations()[consist.numImmatEf]"
      [scale]="userSettings.controls.scale.value"
      [useVehicleImages]="userSettings.controls.vehicleImages.value"
      [topView]="topView()">
    </met-consist>
  </div>
  } @if (train().mission; as mission) {
  <met-station
    class="self-stretch"
    [station]="leadingCabinRightSide() ? mission.nextStation : mission.previousOrCurrentStation">
  </met-station>
  }
</div>
