@use "mdl-angular/scss" as mdl;

.app-header {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1;
  border-bottom: 1px solid #222;

  .mat-toolbar-row {
    gap: 1rem;
  }

  .mat-divider {
    height: 24px;
  }

  .logos {
    grid-area: logos;
    display: flex;
    gap: 1rem;
  }

  .sncf-logo {
    display: flex;

    > img {
      width: 48px;
    }

    &.simple-menu > img {
      width: 70px;
      margin-right: 1rem;
    }
  }

  .menu-button {
    margin-left: -8px;

    img {
      height: 25px;
    }

    i {
      font-size: 20px;
      margin-bottom: -4px;
      transition: transform 0.3s ease-out;

      &.opened {
        transform: scaleY(-1);
      }
    }
  }

  .right-buttons {
    margin-left: auto;
    display: flex;
    gap: 16px;
    align-items: center;

    #searchBar {
      flex: 1 1 auto;
      min-width: 160px;
      max-width: 400px;
    }
  }

  @media (max-width: 959.98px) {
    .menu-button img {
      height: 18px;
    }

    .sncf-logo > img {
      width: 40px;
    }

    row-gap: 0.2rem;

    .title {
      font-size: 1rem;
    }

    #searchBar {
      flex: 1;
      max-width: unset;
    }
  }
}

.app-sidenav-container {
  min-height: 100%;
  width: 100%;
  // height: auto !important;
  height: max-content;
  margin: 0;
  transform: none;
  z-index: 0;
  position: relative;

  .app-sidenav {
    position: fixed;
    top: 64px;
    bottom: 0;
    left: 0;
    min-width: 260px;
    border-right: 0;

    &.sncf-nav {
      min-width: unset;
      width: 100px;

      .menu-group {
        > * {
          border-top: 1px solid rgba(255, 255, 255, 0.3);

          &:last-of-type {
            border-bottom: 1px solid rgba(255, 255, 255, 0.3);
          }
        }

        &:first-child > *:first-child {
          border-top: 0;
        }
      }

      .menu {
        min-width: unset;
        width: 100px;
      }
    }

    .menu {
      height: 100%;
      min-width: 250px;
      display: flex;
      flex-direction: column;
      overflow-y: auto;

      &.prod {
        background: mdl.$blue;
        color: white;
      }

      &.local {
        background: mdl.$gray;
        color: white;
      }

      &.dev {
        background: mdl.$purple;
        color: white;
      }

      &.rec {
        background: mdl.$cyan;
        color: white;
      }
    }

    .app-logo {
      &.no-path {
        border: 1px solid mdl.$text-light;
      }
    }
  }
}

main {
  position: relative;
  display: flex;
  flex-direction: column;
}
