<app-header
  #header
  class="app-header dark"
  [(fixedHeight)]="fixedHeight"
  [(simpleMenu)]="simpleMenu"
  [(menuOpen)]="menuOpen"></app-header>

<mat-sidenav-container class="app-sidenav-container">
  <mat-sidenav
    appMainMenu
    class="app-sidenav dark"
    [simple]="simpleMenu"
    [(opened)]="menuOpen"
    [class.sncf-nav]="simpleMenu"
    [style.top]="header.hostElement.nativeElement.offsetHeight + 'px'">
    <div class="menu" [ngClass]="appEnv">
      <div class="menu-group">
        <mdl-side-menu-item
          *ngFor="let menu of simpleMenu ? (menus | flatten) : menus"
          [simple]="simpleMenu"
          [menu]="menu">
        </mdl-side-menu-item>
      </div>
      <div class="menu-group mt-auto">
        <div
          class="flex p-3 items-center gap-3"
          [style.flex-direction]="simpleMenu ? 'column' : undefined">
          <img id="logo" class="app-logo no-path" alt="APP LOGO" />
          <div class="small ms-auto text-align-right" (click)="changeEnv()">
            {{ appEnv }} v{{ "1.0.0" }}
          </div>
        </div>
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <main
      [style.height]="
        fixedHeight ? 'calc(100vh - ' + header.hostElement.nativeElement.offsetHeight + 'px)' : null
      ">
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
