<div #header class="app-header dark">
  <mat-toolbar>
    <mat-toolbar-row>
      <div class="logos">
        <div class="sncf-logo" [class.simple-menu]="simpleMenu">
          <img alt="SNCF" src="assets/logo-sncf.svg" />
        </div>
        <button mat-button class="mdl menu-button" (click)="menuOpen = !menuOpen">
          <mat-icon
            style="transition: transform 175ms ease-in-out"
            [ngStyle]="{ transform: menuOpen ? 'rotate(90deg)' : undefined }">
            menu
          </mat-icon>
          MON APPLI
        </button>
        <mat-slide-toggle color="primary" class="self-center" [(ngModel)]="simpleMenu">
          Menu simple
        </mat-slide-toggle>
      </div>
      <mat-slide-toggle color="primary" class="ms-auto" [(ngModel)]="fixedHeight">
        Hauteur de page fixe
      </mat-slide-toggle>
      <button
        appDarkMode
        #dark="darkMode"
        mat-icon-button
        [matTooltip]="dark.enabled ? 'Mode clair' : 'Mode sombre'"
        (click)="dark.enabled = !dark.enabled">
        <mat-icon [innerText]="dark.enabled ? 'light_mode' : 'dark_mode'"></mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
</div>

<mat-sidenav-container class="app-sidenav-container">
  <mat-sidenav
    appMainMenu
    [simple]="simpleMenu"
    [(opened)]="menuOpen"
    class="app-sidenav dark"
    [class.sncf-nav]="simpleMenu"
    [style.top]="header.offsetHeight + 'px'">
    <div class="menu prod">
      <mdl-side-menu-item
        *ngFor="let menu of simpleMenu ? (menus | flatten) : menus"
        [simple]="simpleMenu"
        [menu]="menu">
      </mdl-side-menu-item>
      <div class="d-flex mt-auto p-3" style="align-items: center">
        <img id="logo" class="app-logo no-path" alt="APP LOGO" />
        <div class="ms-auto ps-3 text-align-right">{{ "prod" }} v{{ "1.0.0" }}</div>
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <main [style.height]="fixedHeight ? 'calc(100vh - ' + header.offsetHeight + 'px)' : null">
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
