<app-header
  #header
  class="app-header dark"
  [(fixedHeight)]="fixedHeight"
  [(simpleMenu)]="simpleMenu"
  [(menuOpen)]="menuOpen"></app-header>

<mat-sidenav-container class="app-sidenav-container">
  <mat-sidenav
    appMainMenu
    class="app-sidenav dark"
    [simple]="simpleMenu"
    [(opened)]="menuOpen"
    [class.sncf-nav]="simpleMenu"
    [style.top.px]="header.hostElement.nativeElement.offsetHeight">
    <div class="menu" [ngClass]="appEnv">
      <div class="menu-group">
        @for (menu of simpleMenu ? (menus | flatten) : menus; track menu.link) {
        <mdl-side-menu-item [simple]="simpleMenu" [menu]="menu"> </mdl-side-menu-item>
        }
      </div>
      <div class="menu-group mt-auto">
        <div
          class="flex p-3 items-center gap-3"
          [style.flex-direction]="simpleMenu ? 'column' : undefined">
          <img id="logo" class="app-logo no-path" alt="APP LOGO" />
          <div class="small ms-auto text-align-right" (click)="changeEnv()">
            v{{ version }}<br />
            Click to change env
          </div>
        </div>
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <main
      [ngStyle]="{
        '--header-height': header.hostElement.nativeElement.offsetHeight + 'px',
        '--content-height': 'calc(100vh - var(--header-height))'
      }"
      [style.min-height]="'var(--content-height)'"
      [style.height]="fixedHeight ? 'var(--content-height)' : null">
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
