:host {
  display: grid;
  grid-template-rows: auto auto;
  grid-auto-flow: column;
  row-gap: 1em;
  margin-bottom: 1em;
  line-height: 1;

  display: flex;

  .vehicle-column {
    gap: 1em;
    display: flex;
    flex-direction: column;
  }

  .vehicle-id {
    padding: 0 0.25em;
    text-align: center;

    .num-ef {
      font-weight: bold;
    }

    .position-coherence {
      font-weight: bold;
      color: red;
    }
  }

  .ext-icons-host {
    position: relative;
    font-size: 2em;

    .driver-icon {
      position: absolute;
      top: 0;
    }

    &.first .driver-icon {
      right: -1.25em;
    }

    &.last .driver-icon {
      left: -1.25em;
    }
  }
}
