@use "../colors";
@use "palettes";
@use "theme";
@use "@angular/material" as mat;

@include mat.core();
@include mat.core-density(theme.$dark-theme);
@include mat.core-typography(theme.$dark-theme);
// @include mat.core-theme(theme.$light-theme);
// @include mat.strong-focus-indicators();
// @include mat.strong-focus-indicators-theme(theme.$light-theme);
@include mat.typography-hierarchy(theme.$sncf-typography);

.dark,
.light .dark {
  @include mat.core-color(theme.$dark-theme);
}

.light,
.dark .light {
  @include mat.core-color(theme.$light-theme);
}

.mat-mdc-menu-panel {
  --mat-menu-container-shape: 8px !important;
}

div.mat-mdc-autocomplete-panel {
  border-radius: 8px !important;
}

.mat-mdc-option .mdc-list-item__primary-text {
  flex-basis: 100%;
}
