@use "../colors";
@use "palettes";
@use "theme";
@use "@angular/material" as mat;

@include mat.app-background();
@include mat.core-base(theme.$dark-theme);
@include mat.core-density(theme.$dark-theme);
@include mat.core-typography(theme.$dark-theme);
@include mat.core-overrides();
@include mat.elevation-classes();
@include mat.typography-hierarchy(theme.$sncf-typography);

.dark,
.light .dark {
  @include mat.core-color(theme.$dark-theme);
}

.light,
.dark .light {
  @include mat.core-color(theme.$light-theme);
}

.mat-mdc-menu-panel {
  --mat-menu-container-shape: 8px !important;
}

div.mat-mdc-autocomplete-panel {
  border-radius: 8px !important;
}

.mat-mdc-option .mdc-list-item__primary-text {
  flex-basis: 100%;
}

body {
  background: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
}