@use "mdl-angular/scss" as mdl;

:host {
  display: block;
}

// .mat-mdc-standard-chip {
//   --mat-chip-elevated-container-color: #{mdl.$blue} !important;
// }

::ng-deep {
  .codes-list {
    &.mat-mdc-form-field {
      .mat-mdc-form-field-text-prefix {
        max-width: 50%;
      }
    }

    &.mat-mdc-autocomplete-panel {
      // Make hover priority higher than selected and remove selected styles
      --mat-option-selected-state-layer-color: none;
      // padding-top: 0px;

      .mat-mdc-option {
        // &:first-of-type {
        //   margin-top: 8px;
        // }

        > span.mdc-list-item__primary-text {
          width: 100% !important;
          display: flex !important;
          gap: 1rem !important;
          align-items: center !important;
        }

        &:not(.mdc-list-item--disabled) {
          &:focus,
          &:hover,
          &.mat-mdc-option-active {
            background-color: var(--mat-option-focus-state-layer-color) !important;
          }
        }
      }
    }
  }
}
