<!-- Items : {{ (filteredItems | async)?.length }} <br /> -->

<mat-form-field class="codes-list flex w-full">
  <mat-label>Code(s) défaut</mat-label>
  <mat-chip-grid #chipGrid matTextPrefix class="pb-1 dark">
    <mat-chip-row
      *ngFor="let item of selectedItems.selected | sorted"
      (removed)="remove(item)"
      [matTooltip]="allItemsMap.get(item)?.libelle ?? ''">
      {{ item }}
      <button matChipRemove>
        <mat-icon>cancel</mat-icon>
      </button>
    </mat-chip-row>
  </mat-chip-grid>
  <mat-autocomplete
    #auto="matAutocomplete"
    class="codes-list"
    (optionSelected)="selected($event)"
    autoActiveFirstOption
    hideSingleSelectionIndicator>
    <cdk-virtual-scroll-viewport
      #scrollPanel
      itemSize="48"
      [minBufferPx]="5 * 48"
      [maxBufferPx]="20 * 48"
      [style.height.px]="5 * 48">
      <mat-option
        *cdkVirtualFor="
          let item of filteredItems$ | async;
          let last = last;
          let index = index;
          templateCacheSize: 20;
          trackBy: trackByCode
        "
        [class.mdc-list-item--selected]="selectedItems.isSelected(item.code)"
        [value]="item.code">
        <span [innerHTML]="item.libelle | highlightWith : input.value"> </span>
        <span class="ms-auto text-right" [innerHTML]="item.code | highlightWith : input.value">
        </span>
      </mat-option>
    </cdk-virtual-scroll-viewport>
  </mat-autocomplete>
  <input
    #input
    placeholder="Tapez un code..."
    [formControl]="inputCtrl"
    [matChipInputFor]="chipGrid"
    [matAutocomplete]="auto"
    mdlAutocompleteStayOpen
    resizeOnOptionSelected
    [virtualScrollPanel]="scrollPanel" />
</mat-form-field>
