<ng-template>
  <div class="mdl-date-picker" [class.has-presets]="presetsToShow">
    <div class="mat-datepicker-actions">
      <ng-content></ng-content>
    </div>
    <div class="side-buttons small small-btn-text" *ngIf="presetsToShow; let presets">
      <button mat-button *ngFor="let preset of presets" (click)="applyPreset(preset)">
        {{preset.name}}
      </button>
    </div>
    <div class="calendars">
      <!-- All inputs and handlers directly copied from Material src code -->
      <mat-calendar
        #prev
        *ngIf="showPreviousMonthCalendar && datepickerContent"
        [startAt]="dateAdapter.addCalendarMonths(datepicker.startAt ?? dateAdapter.today(), -1)"
        [startView]="datepicker.startView"
        [minDate]="datepicker._getMinDate()"
        [maxDate]="datepicker._getMaxDate()"
        [dateFilter]="datepicker._getDateFilter()"
        [headerComponent]="EmptyCalendarHeaderComponent"
        [selected]="datepickerContent._getSelected()"
        [dateClass]="datepicker.dateClass"
        [comparisonStart]="datepickerContent.comparisonStart"
        [comparisonEnd]="datepickerContent.comparisonEnd"
        [startDateAccessibleName]="datepickerContent.startDateAccessibleName"
        [endDateAccessibleName]="datepickerContent.endDateAccessibleName"
        (yearSelected)="datepicker._selectYear($event)"
        (monthSelected)="datepicker._selectMonth($event)"
        (viewChanged)="datepicker._viewChanged($event)"
        (_userSelection)="datepickerContent._handleUserSelection($event)"
        (_userDragDrop)="datepickerContent._handleUserDragDrop($event)">
        {{registerCalendar(prev)}}
      </mat-calendar>
      <div class="placeholder mat-calendar"></div>
    </div>
  </div>
</ng-template>
