$padding: 8px;

mdl-date-picker {
  display: none;
}

.mat-datepicker-popup.with-presets .mat-datepicker-content-container-with-actions {
  position: relative;

  .mat-mdc-icon-button:disabled {
    opacity: var(--mdc-icon-button-disabled-icon-opacity) !important;
  }

  > .mat-calendar {
    position: absolute;
    right: $padding;
    top: $padding;
  }

  .mat-calendar {
    width: 230px;
    height: 290px;

    .mat-calendar-header {
      padding-right: 0 !important;
    }
  }

  .mdl-date-picker {
    display: grid;
    justify-content: unset;
    grid-template:
      "calendar" 1fr
      "bottom-buttons" auto
      / auto 1fr;
    padding: $padding;
    align-items: unset;

    &.has-presets {
      grid-template:
        "side-buttons calendar" 1fr
        "side-buttons bottom-buttons" auto
        / auto 1fr;

      .mat-datepicker-actions {
        max-width: 230px;
      }
    }

    .calendars {
      display: flex;
    }

    .side-buttons {
      grid-area: side-buttons;
      display: flex;
      flex-direction: column;
      overflow-y: auto;
      max-height: 370px;
      padding-top: 0.5rem;

      padding-right: 0.5rem;
      border-right: 1px solid var(--mat-divider-color);
      width: 160px;

      .mat-mdc-list-base {
        --mdc-list-list-item-label-text-size: 12px !important;
        --mdc-list-list-item-label-text-line-height: 12px !important;
        --mdc-list-list-item-one-line-container-height: 36px !important;

        .mdc-list-item.mdc-list-item--with-one-line .mdc-list-item__end {
          display: none;
        }
      }
    }

    .mat-datepicker-actions {
      grid-area: bottom-buttons;
      display: block;
      padding: 0.5rem;
      border-top: 1px solid var(--mat-divider-color);
    }
  }
}

.mat-datepicker-dialog.with-presets {
  .calendars {
    display: none;
  }

  .side-buttons {
    display: none;
  }
}
