@use "../../scss/responsive.scss";

:host {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;

  @include responsive.big-screen() {
    .mat-mdc-tab-nav-bar {
      padding: 8px 16px 0;
    }
  }

  > nav.fixed {
    position: fixed;
    top: var(--header-height);
    width: 100%;
    z-index: 2;
  }

  .mat-mdc-tab-nav-panel {
    flex-grow: 1;
    min-height: 0;
    overflow-y: auto;
    // padding-bottom: 1.5rem;

    ::ng-deep {
      router-outlet + * {
        height: 100%;
        padding: 0.5rem;
        padding-top: 0.5rem;

        @include responsive.big-screen() {
          padding: 2.5rem;
          padding-top: 1.5rem;
        }
      }
    }
  }

  .mat-mdc-tab-group {
    height: 100%;
  }

  ::ng-deep {
    .mat-mdc-tab-body-wrapper {
      flex-grow: 1;
    }

    .mat-mdc-tab-body-content {
      gap: 1.5rem;
      padding: 0.5rem;
      display: flex;
      flex-direction: column;
      overflow: unset;
      
      @include responsive.big-screen() {
        padding: 1.5rem;
      }
    }
  }
}
